In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('feeder.csv')

In [3]:
data.head()

,state,district,year,season,crop,area,production,JAN,FEB,MAR,...,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,production_by_area
0,31,0,2000,3,90,1254.0,2000.0,53.0,59.0,171.3,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,1.594896
1,31,0,2000,3,43,2.0,1.0,53.0,59.0,171.3,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.500000
2,31,0,2000,3,2,102.0,321.0,53.0,59.0,171.3,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.147059
3,31,0,2000,2,107,176.0,641.0,53.0,59.0,171.3,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.642045
4,31,0,2000,2,120,720.0,165.0,53.0,59.0,171.3,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.229167

In [4]:
data = data.drop(columns=['area', 'production ', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'])

In [5]:
data.head()

   state  district  year  season  crop  ANNUAL  production_by_area
0     31         0  2000       3    90  2763.2            1.594896
1     31         0  2000       3    43  2763.2            0.500000
2     31         0  2000       3     2  2763.2            3.147059
3     31         0  2000       2   107  2763.2            3.642045
4     31         0  2000       2   120  2763.2            0.229167

In [13]:
df = data.loc[(data['state'] == 31) & (data['district'] == 0) & (data['crop'] == 2)]

In [14]:
df.head()

    state  district  year  season  crop  ANNUAL  production_by_area
2      31         0  2000       3     2  2763.2            3.147059
12     31         0  2001       3     2  3080.9            3.614458
18     31         0  2002       3     2  2620.2            2.700000
27     31         0  2003       3     2  2355.9            1.734038
36     31         0  2004       3     2  2460.1            1.370797

In [12]:
df['crop'].dtype

dtype('int64')

In [38]:
import numpy as np

In [58]:
X = np.array([list(df['year']), list(df['ANNUAL'])])
X

array([[2000. , 2001. , 2002. , 2003. , 2004. , 2005. , 2010. ],
       [2763.2, 3080.9, 2620.2, 2355.9, 2460.1, 2954.7, 3157.1]])

In [55]:
Y = np.array(df['production_by_area'])

In [57]:
Y

array([3.14705882, 3.61445783, 2.7       , 1.73403846, 1.37079713,
       5.77033493, 2.85714286])

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
regression = LinearRegression()

In [54]:
regression.fit(X, Y)

ValueError: Found input variables with inconsistent numbers of samples: [2, 1]