In [3]:
import pandas as pd
crop_data = pd.read_csv('crop_production_main.csv')
rain_data = pd.read_csv('rainfall_data.csv')
crop_data.head()

,Unnamed: 0,state,district,year,season,crop,area,production
0,0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [4]:
df = pd.merge(crop_data, rain_data, how="left", right_on=["SUBDIVISION", "YEAR"], left_on=["state", "year"])

KeyError: 'state'